.appartments {
    position: relative;

    &::before {
        content: "III";

        right: calc(50% + 555px);
        transform: translate(50%, 0%);

        @include decorNumber;
        
    }
}

.appartments_title {
    margin-bottom: 88px;

    @include mediaTablet {
        margin-bottom: 44px;
    }

}

.appartments_cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(290px, 1fr));
    gap: 30px;

    @include mediaTablet {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 40px 30px;
    }

}






