.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 74px;

    min-height: 840px;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url('./../img/header/main-bg.jpg');

    @include mediaTablet {
        min-height: unset;
        row-gap: 50px;
    }
}

.header_top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top-row--mobile {
    position: fixed;
    background-color: $dark;
    top: 0;
    width: 100%;
    left:0;
    height: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

    .header_nav {
        display: block;
    }

    .nav_list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;    
    }

    .header_nav-btn {
        position: fixed;
        z-index: 11;
        top: 50px;
        right: 15px;    
    }
}

.header_nav {
    // @media (max-width: $tablet) {
    //     display: none;
    // }
    @include mediaTablet {
        display:none;
    }
}

.header_nav-btn {
    display: none;
    
    // @media (max-width: $tablet) {
    //     display: block;
    // }
    @include mediaTablet {
        display: block;
    }
}

.header_title {
    position: relative;
    padding-bottom: 121px;

    text-align: center;
    font-size: 48px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;

    @include mediaTablet {
        font-size: 32px;
        padding-bottom: 100px; 
    }
}

.header_title-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include mediaTablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

